.example-card {
    width: 700px;
  }
  .mar{
      margin-top: 60px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }