<mat-grid-list cols="12">
  <mat-grid-tile [colspan]="4"> <input matInput placeholder="Search bar" class="inputClass"> </mat-grid-tile>
  <mat-grid-tile [colspan]="4">2</mat-grid-tile>
  <mat-grid-tile [colspan]="4">
    <button mat-raised-button (click)="onCreate()" style="width: 30%;" color="primary">Create</button>
    <button mat-raised-button (click)="makepdf()" style="width: 30%;" color="primary">PDF</button>
  </mat-grid-tile>

</mat-grid-list>


<div class="mat-elevation-z8">
  <div id="content" #content>
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container> 

      <!-- Name Column -->
      <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef> Content </th>
        <td mat-cell *matCellDef="let element"> {{element.content}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
      </ng-container>


      <ng-container matColumnDef="employeId">
        <th mat-header-cell *matHeaderCellDef> EmployeId </th>
        <td mat-cell *matCellDef="let element"> {{element.employeId}} </td>
      </ng-container>

      <ng-container matColumnDef="dateComplaint">
        <th mat-header-cell *matHeaderCellDef> Date creation </th>
        <td mat-cell *matCellDef="let element"> {{element.dateComplaint|date}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete</th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button color="warn"
            (click)="deleteComplaint(element.id)">
            <mat-icon>delete</mat-icon>
          </button> </td>
      </ng-container>
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update</th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button color="primary"
            (click)="updateComplaint(element)">
            <mat-icon>mode_edit</mat-icon>
          </button> </td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details</th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button color="primary"
            (click)="detailsComplaint(element)">
            <mat-icon>read_more</mat-icon>
          </button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>

 

  <h5 class="card-title">CHART OF COMPLAINT STATE</h5>
  <canvas baseChart [datasets]="datasets" [labels]="labels" [options]="options" [chartType]="type">
  </canvas>