<mat-grid-list cols="12">
    <mat-grid-tile [colspan]="4"  [rowspan]="3"  >   <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"></mat-grid-tile>
    <mat-grid-tile [colspan]="4"   >Cin </mat-grid-tile>

    <mat-grid-tile [colspan]="4"  s >  </mat-grid-tile>

    <mat-grid-tile [colspan]="4"   >name </mat-grid-tile>
    <mat-grid-tile [colspan]="4"   > potion/Domain</mat-grid-tile>
    <mat-grid-tile [colspan]="4"   >age </mat-grid-tile>
    <mat-grid-tile [colspan]="4" > </mat-grid-tile>
    <mat-grid-tile [colspan]="4"   >potion/Domain </mat-grid-tile>
    <mat-grid-tile [colspan]="4"  > </mat-grid-tile>
    <mat-grid-tile [colspan]="4"   >Location </mat-grid-tile>
    <mat-grid-tile [colspan]="4" > </mat-grid-tile>
    <mat-grid-tile [colspan]="4"  > </mat-grid-tile>
    <mat-grid-tile [colspan]="4"   > </mat-grid-tile>
    
    









    </mat-grid-list>
