<mat-grid-list cols="12" >
    <mat-grid-tile  [colspan]="4"> <input matInput placeholder="Search bar" style=" border-radius: 10px; margin-left: 10%; height:50px; border :2px solid black;" (keyup)="applyFilter($event)"  > </mat-grid-tile>
    <mat-grid-tile [colspan]="4">2</mat-grid-tile>
    <mat-grid-tile [colspan]="4"><button mat-raised-button style="width: 30%;" color="primary" (click)="onCreate()">Create</button></mat-grid-tile>

  </mat-grid-list>
  

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" >
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="tripLocation">
        <th mat-header-cell *matHeaderCellDef> Trip Location </th>
        <td mat-cell *matCellDef="let element"> {{element.tripLocation|Location}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="entreprise">
        <th mat-header-cell *matHeaderCellDef> Entreprise </th>
        <td mat-cell *matCellDef="let element"> {{element.entreprise}} </td>
      </ng-container>
      <ng-container matColumnDef="employee">
        <th mat-header-cell *matHeaderCellDef> Employee </th>
        <td mat-cell *matCellDef="let element"> {{element.employee}} </td>
      </ng-container>
  
      <ng-container matColumnDef="departDate">
        <th mat-header-cell *matHeaderCellDef> Depart Date </th>
        <td mat-cell *matCellDef="let element"> {{element.departDate|date}} </td>
      </ng-container>
  
      <ng-container matColumnDef="arrivalDate">
        <th mat-header-cell *matHeaderCellDef> Arrival Date </th>
        <td mat-cell *matCellDef="let element"> {{element.arrivalDate|date}} </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete</th>
        <td mat-cell *matCellDef="let element">  <button mat-icon-button color="warn"  (click)="deleteTrip(element.id)" >
            <mat-icon>delete</mat-icon>
          </button> </td>
      </ng-container>
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update</th>
        <td mat-cell *matCellDef="let element">  <button mat-icon-button color="primary" (click)="onUpdate(element)"  >
            <mat-icon>mode_edit</mat-icon>
          </button> </td>
      </ng-container>
      <ng-container matColumnDef="Details">
        <th mat-header-cell *matHeaderCellDef> Details</th>
        <td mat-cell *matCellDef="let element">  <a mat-icon-button color="accent" [routerLink]="['./details',element.id]"  >
            <mat-icon>read_more</mat-icon>
        </a> </td>
      </ng-container>
      <ng-container matColumnDef="AddUser">
        <th mat-header-cell *matHeaderCellDef> Add user</th>
        <td mat-cell *matCellDef="let element">  <a (click)="addUser()"  mat-icon-button color="accent"   >
            <mat-icon>add</mat-icon>
        </a> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

  </div>
  