
 <mat-toolbar fixedInViewport="true" color="primary" style=" display: flex; justify-content: space-between;" >
 <a href=""  style="text-decoration: none;"><span>Travel Up</span></a>
   
    <div style="display: flex; justify-content: center; width: 80%;" > 
      <div style="display: flex; justify-content: space-around; width: 15%;" >
      <a mat-icon-button [routerLink]="['./forum']" ><mat-icon >home</mat-icon></a>
      <a mat-icon-button  [routerLink]="['./message']" ><mat-icon >message</mat-icon></a> 
      <a mat-icon-button [routerLink]="['./trvel']" ><mat-icon>card_travel</mat-icon></a> 
      <a mat-icon-button ><mat-icon>add_circle_outline </mat-icon></a> 

      <button mat-icon-button><mat-icon>more_vert</mat-icon></button> 
    </div>
    </div>
   <app-profile-button></app-profile-button>
    
  </mat-toolbar>